apiVersion: v1
kind: ImageStream
metadata:
  annotations:
    description: Keeps track of changes in the application image
  labels:
    template: cronjob-prune-projects
  name: {{ .Values.name }}
spec:
  lookupPolicy:
    local: true
